header {
    height: 100px;
    z-index: 999999;
    background-image: linear-gradient(to right, #a6a6a6, #fafafa);

    .header-logo {
        width: 150px;
        object-fit: cover;
    }

    input {
        border: transparent;

        &:focus {
            outline: none;
            border: transparent;
            box-shadow: none;
        }
    }

    .nav-link {
        color: #000;
        font-size: 22px;
        font-weight: 500;
        margin: 0 10px;
        text-decoration: none;
    }

    .offcanvas {
        width: 350px !important;

        .offcanvas-header {
            height: 100px;
            border-color: #ccc;
        }

        .list-group-item {
            &:hover {
                transition: all 0.3s;
                background-color: #d9dbdd;
            }

            .account-icon {
                width: 40px;
                height: 40px;
            }
        }
    }
}